<h1>Sign Up</h1>
<form name='regForm' novalidate>
    
    <input type="text" name="firstname" placeholder="Pick a firstname"
      ng-model="reg.user.firstname"
      required
      minlength="4"
      ng-maxlength="10">
      <span
        ng-if="(regForm.username.$error.minlength || regForm.username.$error.required) && regForm.username.$touched">
        firstname must be at least 4 characters long
      </span>
      <span ng-if="regForm.username.$error.maxlength && regForm.username.$touched">
        firstname must not be longer than 10 characters
      </span>
      <br>

      <input type="text" name="lastname" placeholder="Pick a lastname"
      ng-model="reg.user.lastname"
      required
      minlength="4"
      ng-maxlength="10">
      <span
        ng-if="(regForm.username.$error.minlength || regForm.username.$error.required) && regForm.username.$touched">
        lastname must be at least 4 characters long
      </span>
      <span ng-if="regForm.username.$error.maxlength && regForm.username.$touched">
        lastname must not be longer than 10 characters
      </span>
      <br>

    <input type="email" name="email" placeholder="Email"
      ng-model="reg.user.email"
      required>
      <span ng-if="regForm.email.$invalid && regForm.email.$touched">
        Must be a valid email address: handle@domain format
      </span>
      <br>

    <input type="text" name="phone" placeholder="Phone ###-###-####"
      ng-model="reg.user.phone"
      pattern="(\d{3})-(\d{3})-(\d{4})">
      <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
        Phone must be in the format ###-###-####.
      </span>
      <br>
      <input type="text" name=" favoritedish" placeholder="Pick a  favorite dish"
      ng-model="reg.user.favoritedish"
    >
    <button id="submit"
      ng-disabled="regForm.$invalid"
      ng-click="reg.value()">Submit</button>

      <div style="margin-top: 10px;">
        Form valid? {{ regForm.$valid }}
      </div>
  </form>
  
  {{reg.vlue | json}}
</div>