<div ng-if="ctrl.Data">Registered Information
    <div ng-if="ctrl.menuItemDetail">
      <h3>  First Name:{{ctrl.Data.firstname}}</h3>
      <br>
      <h3>   Last Name:{{ctrl.Data.lastname}}</h3>
      <br>
      <h3>   Email Id:{{ctrl.Data.email}}</h3>
      <br>
      <h3>  Phone:{{ctrl.Data.phone}}</h3>

    </div>
    <h1>Favorite menu item</h1>
    <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              <div>{{ctrl.menuItemDetail.short_name}}</div>
              <img class="img-responsive" width="250" height="150" ng-src="images/menu/{{ctrl.menuItemDetail.short_name}}/{{ctrl.menuItemDetail.short_name}}.jpg" alt="{{ctrl.menuItemDetail.name}}">
            </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">{{ctrl.menuItemDetail.name}}</h3>
            <p class="menu-item-details">{{ctrl.menuItemDetail.description}}</p>
          </div>
        </div>
        <hr class="visible-xs">
      </div>
</div>
</div>

<div ng-if="!ctrl.Data">
    <h3>Not Signed Up Yet. </h3>
        <a ui-sref="admin.signup">
          <span class="glyphicon glyphicon-info-sign"></span><br class="hidden-xs">Sign up Now!</a>
          <reg-info regData="ctrl.Data"></reg-info>
</div>